body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

div.tabla {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}

table,
td,
th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    text-align: center;
}

th,
td {
    padding: 15px;
}

.boton {
    box-shadow: inset 0px 39px 0px -24px #e67a73;
    background-color: #e4685d;
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
}

.boton:hover {
    background-color: #eb675e;
}

.boton:active {
    position: relative;
    top: 1px;
}

div.botonera {
    text-align: center;
}